img {
    width: 350px;
    height: 20%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 0px 0px 5px green;
}

img:hover {
    box-shadow: 0px 0px 20px red;
    background-color: aqua;
}