body {
    width: 80%;
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: darkorange;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin-left: 20px;
}

header form {
    justify-content: center;
    align-items: center;
}

nav {
    background-color: rgba(247, 190, 84, 0.815);
    margin-top: -15px;
}

nav ul li a {
    margin: 20px;
    color: black;
}

nav ul li {
    padding: 20px;
}

nav ul li:hover {
    background-color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

banner img {
    width: 100%;
}

.container h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

.container .content1 {
    width: 30%;
    border: 3px solid rgb(252, 134, 0);
}

.container .content1 img {
    width: 80%;
    padding: 20px 40px;
}

.container .content1 p {
    font-size: 30px;
}